@(userName: String)

@main("Track Wild: Dashboard") {

    @loggedInNavbar("dashboard", userName)

    <div class="content">
        <h1>Project Dashboard</h1>

        <div class="container">
            <h2>Click to navigate</h2>
            <div id="dashNavButtons">
                <button type="button" class="btn btn-lg btn-default" onclick="window.location.href='/projectworkspace/@userName'">
                    Default
                </button>

            </div>
        </div>
    </div>


}