@()(implicit request: RequestHeader)

@main("Track Wild: Dashboard") {

    @loggedInNavbar("projects")

    <div class="container-fluid" id="userProjectsSelectors">
        <div class="row-fluid">
            <div class="col-xs-1"></div>
            <div class="col-xs-10" id="allSlidersContainer">
                <h2 id="projSlidersHeader">PROJECTS</h2>
                <div class="projectSliders" id="projleadSlider">
                    <i class="fa fa-paw" aria-hidden="true"></i>  <h3>View Projects You Lead</h3>
                </div>
                <div class="projSliderContent"><h1>                I'M PICKLE RIIIIICK!</h1></div>
                <div class="projectSliders" id="projCollabSlider">
                    <i class="fa fa-users" aria-hidden="true"></i>  <h3>View Your Collaborated Projects</h3>
                </div>
                <div class="projSliderContent"><img src="https://res.cloudinary.com/teepublic/image/private/s--wnX7aXlQ--/t_Preview/b_rgb:191919,c_limit,f_jpg,h_630,q_90,w_630/v1491197195/production/designs/1379547_1.jpg" alt=""></div>
                <div class="projectSliders" id="projCreatorSlider">
                    <i class="fa fa-plus-square-o" aria-hidden="true"></i><h3> Create a New Project</h3>
                </div>
                <div class="projSliderContent"><h1>           WUBA-LUBA-DUB-DUB</h1></div>
            </div>
            <div class="col-xs-1"></div>
        </div>

    </div>

    </ul>
}
