html {
    height: 100%;
}

body {
    background-image: url('../images/whaleSharkBackground.jpg'); /* goes up one folder from where this file is */
    background-size: cover;
    color: white;
}

@font-face {
    font-family: 'animal-fantastic';
    src: url(../fonts/animalesfantastic.otf);
}

a {
    color: white;
}

a.links {
    color: #00faff;
}

#regHeader, #loginHeader {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 350%;
}

#regHR, #logHR {
    margin-top: 10px;
    margin-bottom: 10px;
}

.content {
    text-align: center;
    padding-top: 15%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav li a {
    color: white;
}

.navbar {
    background-color: rgba(22, 116, 141, .7);
    color: white;
    border-bottom: 5px solid white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1em;
    letter-spacing: 1px;
}

.navbar-brand {
    font-family: 'animal-fantastic';
}

.nav .navbar-nav .navbar-right {
    padding-right: 21%;
}

h1 {
    font-weight: 700;
    font-size: 4.5em;
    font-family: 'animal-fantastic';
}

h3 {
    font-family: 'Ubuntu', sans-serif;
}

.icon-bar {
    color: white;
}

hr {
    width: 30%;
    border-top: 1px solid #f8f8f8;
    border-bottom: 4px solid rgba(0,0,0,0.4),
}

#loginform, #registrationForm {
    text-align: left;
    margin-top: 10%;
    padding: 2%;
    background-color: rgba(22, 116, 141, .4);
    border: 3px solid white;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    border-radius: 10px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}

.btn-lg {
    background: rgba(0, 0, 0, 0.1);
    box-shadow:
            0 2px 8px rgba(0, 0, 0, 0.5),        /* Exterior Shadow */
            inset 0 1px rgba(255, 255, 255, 0.3),        /* Top light Line */
            inset 0 10px rgba(255, 255, 255, 0.2),/* Top Light Shadow */
            inset 0 10px 20px rgba(255, 255, 255, 0.25),/* Sides Light Shadow */
            inset 0 -15px 30px rgba(0, 0, 0, 0.3); /* Dark Background */
    color: white;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, .3), 0px -1px 0px rgba(0, 0, 0, .7);
}

.col-centered{
    float: none;
    margin: 0 auto;
}

