body {
    font-family: 'Ubuntu', sans-serif;
}

#projToolBar {
    border: 4px solid rgba(255, 255, 255, .8);
    border-radius: 7px;
    padding-top: 5%;
    background-color: rgba(57, 141, 162, .8);
}

ul.dropdown-menu {
    border: 2px double white;
    background-color: rgb(41, 101, 116);
    cursor: pointer;
    cursor: hand;
    margin-top: 3px;
    padding: 10px;
}

ul.dropdown-menu li {
    padding-top: 5px;
    padding-bottom: 5px;
}

ul.dropdown-menu li:hover {
    background-color: rgb(28, 68, 78);
}

li.dropdown, #toolbarheader {
    border-bottom: 4px solid rgba(255, 255, 255, .8);
}

li.dropdown:last-child{
    border: 0;
}

#toolbarheader {
    text-align: center;
    font-size: 1.3em;
    font-weight: 500;
    padding: 10%;
}

#projectViewTitle {
    margin-top: 5%;
    text-align: center;
}

#toolOptions {
    margin-top: 3%;
    height: 47%;
}

#currentTools {
    margin-left: .5%;
    margin-right: .5%;
    height: 50%;
    margin-top: 3px;
}

#toolOptions, #currentTools {
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    padding-top: 2%;
}

.fromLoadDoc {
    border: 4px double white;
    border-radius: 15px;
    background-color: rgba(57, 141, 162, .8);
}

.dataImporterTitleRow {
    text-align: center;
    margin: 0px;
    border-bottom: 4px double white;
}

.tooltitles {
    margin: 0px 2px 2px 2px;
}

.toolSubtitles {
    margin: 2px;
    font-size: 15px;
}

.workrow {
    margin: 5px 10px 5px 10px;
}

.importButton {
    min-height: 50px;
}

.toolTextInputBox {
    background-color: rgba(33, 79, 89, .8);
    width: 100%;
}

#newDataUploadRow {
    font-size: 1.2em;
    width: 80%;
}