body {
    font-family: 'Ubuntu', sans-serif;
}

#toolbarContainer {
    border: 5px solid rgba(255, 255, 255, .8);
    border-radius: 7px;
    padding: 0;
    background: rgba(23, 137, 159, 0.8);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5), /* Exterior Shadow */ inset 0 1px rgba(255, 255, 255, 0.3), /* Top light Line */ inset 0 10px rgba(255, 255, 255, 0.2), /* Top Light Shadow */ inset 0 10px 20px rgba(255, 255, 255, 0.25), /* Sides Light Shadow */ inset 0 -15px 30px rgba(0, 0, 0, 0.3); /* Dark Background */
    text-shadow: 0 1px 0 rgba(255, 255, 255, .3), 0 -1px 0 rgba(0, 0, 0, .7);
}

#toolbarContainer, #toolbarContainer * {
    box-sizing: content-box;
}

ul.dropdown-menu {
    border: 2px double white;
    background-color: rgb(41, 101, 116);
    cursor: pointer;
    margin-top: 3px;
    padding: 10px;
}

ul.dropdown-menu li {
    padding-top: 5px;
    padding-bottom: 5px;
}

ul.dropdown-menu li:hover {
    background-color: rgb(28, 68, 78);
}

li.dropdown, #toolbarheader {
    border-bottom: 4px solid rgba(255, 255, 255, .8);
}

li.dropdown:last-child {
    border: 0;
}

#toolbarheader {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 1.3em;
    font-weight: 500;
    margin: auto;
    padding: 15px 0 7px 0;
    max-height: 33px;
    min-height: 33px;
}

#notesHeader, #workspaceNoteSlider {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 1.3em;
    font-weight: 500;
    margin: auto;
    padding: 15px 0 7px 0;
}

#projectViewTitle {
    margin-top: 5%;
    text-align: center;
}

.actionDeniedContainer {
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#toolOptions {
    margin-top: 1%;
    height: 47%;
}

#currentTools {
    height: 50%;
    margin-top: 3px;
    padding-top: 1%;
    width: 100%;
}

#toolOptions {
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    padding-top: 1%;
}

.fromLoadDoc {
    border: 4px double white;
    border-radius: 15px;
    background-color: rgba(57, 141, 162, .8);
    padding-bottom: 1.5%;
}

.toolOptionsHeaderRow {
    text-align: center;
    margin: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .3), 0 -1px 0 rgba(0, 0, 0, .7);
    border-bottom: 4px double white;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5), /* Exterior Shadow */ inset 0 1px rgba(255, 255, 255, 0.3), /* Top light Line */ inset 0 10px rgba(255, 255, 255, 0.2), /* Top Light Shadow */ inset 0 10px 20px rgba(255, 255, 255, 0.25), /* Sides Light Shadow */ inset 0 -15px 30px rgba(0, 0, 0, 0.3); /* Dark Background */
}

.tooltitles {
    margin: 0 2px 2px 2px;
}

.toolSubtitles {
    margin: 2px;
    font-size: 15px;
}

.currentToolsCol {
    padding: .5%;
}

#projectdataColumn {
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 1%;
    padding-bottom: 2%
}

.workrow {
    margin: 1% 2% 0 2%;
}

.importButton {
    min-height: 50px;
}

#dataImporterWorkArea {

}

.toolTextInputBox {
    background-color: rgba(33, 79, 89, .8);
    width: 100%;
}

#newDataUploadRow {
    font-size: 1.2em;
    width: 80%;
}

#currentToolsRow {
    margin: 0;
}

.viewHeader {
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .3), 0 -1px 0 rgba(0, 0, 0, .7);
    margin: 5px;
}

hr.viewHeaderHR {
    margin-top: 5px;
    margin-bottom: 5px;
}

.singleNoteBox {
    border-top: dashed 3px white;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

#notebodydivider {
    margin: 5px;
    width: 80%;
    height: 3px;
}

#noteHeading {
    text-align: left;
}

fixeddesc {
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.2em;
}

#notesLoadZone {
    text-align: left;
    margin: 0;
    padding: 0;
}

#notesContainer {
    float: left;
    margin-top: 10%;
}

.actionDeniedContainerSmall {
    text-align: center;
}

#projectdataColumn {
    background-color: rgba(11, 87, 102, .8);
    box-shadow: 3px 3px 8px #06323a inset;
    border-radius: 7px;
}

#projectdataColumn.col-md-6 {
    width: 49%;
}

#workspaceNoteSlider {
    height: 100%;
    display: flex;
    padding-top: 2%;
}

#noteSliderHeader {
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    font-size: 1em;
}

#dataPickerTable {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.tableRawData {
    overflow-x: auto;
    white-space: nowrap;
    table-layout: fixed;
}

.tableBoxProjDataWS {
    max-height: 900px;
    overflow-y: scroll;
}

.projDataTable {
    margin: 0 auto 0 auto;
}

.projDataTable td {
    padding-left: 1%;
    padding-right: 1%;
}

.tableProcessingToolBarContainer {
    margin: 2% auto 2% auto;
}

.tableProcessingIcon {
    font-size: 1.0em;
}

.toolsrowInputText {
    background: rgba(6, 47, 55, .9);
}

.toolsrowInputLabel {
    text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
}

#noteTitle {
    width: 80%;
}

.itemAddedResponseMsg{
    margin: 0 auto;
    text-align: center;
}

.gmap {
    height: 400px;
    width: 90%;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
}

.googleMapsContainer {
    margin-right: auto;
    margin-left: auto;
}

.manualRowInput {
    display: inline-block;
    max-width: 50%;
}

.errMsgRow {
    color: red;
}

.qrySubmitBtn {
    margin-top: 5px;
    margin-bottom: 10px;
}

.windowbox{
    background-color:#204582;
    box-shadow:
            0 2px 8px rgba(0, 0, 0, 0.5),        /* Exterior Shadow */
            inset 0 1px rgba(255, 255, 255, 0.3),        /* Top light Line */
            inset 0 10px rgba(255, 255, 255, 0.2),/* Top Light Shadow */
            inset 0 10px 20px rgba(255, 255, 255, 0.25),/* Sides Light Shadow */
            inset 0 -15px 30px rgba(0, 0, 0, 0.3); /* Dark Background */
    color: white;
    text-align: center;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, .3), 0px -1px 0px rgba(0, 0, 0, .7)
}

.windowBoxidRow{
    text-align: center;
    border-bottom: solid 3px white;
}

.gm-style-iw{
    background-color:#204582;
    box-shadow:
            0 2px 8px rgba(0, 0, 0, 0.5),        /* Exterior Shadow */
            inset 0 1px rgba(255, 255, 255, 0.3),        /* Top light Line */
            inset 0 10px rgba(255, 255, 255, 0.2),/* Top Light Shadow */
            inset 0 10px 20px rgba(255, 255, 255, 0.25),/* Sides Light Shadow */
            inset 0 -15px 30px rgba(0, 0, 0, 0.3); /* Dark Background */
}

div.windowbox ul.windowBoxContentList {
    float: left;
    text-align: left;
    padding: 5px;
    background-color:#2958a5;
    box-shadow:
            0 2px 8px rgba(0, 0, 0, 0.5),        /* Exterior Shadow */
            inset 0 1px rgba(255, 255, 255, 0.3),        /* Top light Line */
            inset 0 10px rgba(255, 255, 255, 0.2),/* Top Light Shadow */
            inset 0 10px 20px rgba(255, 255, 255, 0.25),/* Sides Light Shadow */
            inset 0 -15px 30px rgba(0, 0, 0, 0.3); /* Dark Background */
}

#addCollabFormArea {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}

#userToAdd {
    max-width: 80%;
    min-width: 60%;
}

#collabMessageArea {
    color: red;
    text-align: center;
    font-size: 1.1em;
}

.removeCollabIcon {
    color: red;
}
