@()(implicit request: RequestHeader)


@main("Track Wild: Dashboard") {

    @loggedInNavbar("dashboard")

    <div class="content">
        <h1>PROJECT DASHBOARD</h1>

        <div class="container">
            <h2>Click to navigate</h2>
            <div id="dashNavButtons">
                <button type="button" class="btn btn-lg btn-default dashbutton" onclick="window.location.href='@routes.DashboardController.loadUserProjects()'">
                    Projects
                </button>
                <!-- If you work this later, uncomment it
                <button type="button" class="btn btn-lg btn-default dashbutton">
                    Animals
                </button>
                <button type="button" class="btn btn-lg btn-default dashbutton">
                    Collaborators
                </button>
                -->
            </div>
        </div>
    </div>


}