@(result: String)(implicit request: RequestHeader)

@getResult(rowType: String) = @{
    if(rowType.equals(result)) "" else "display: none"
}

<div class="row">

</div>

<div class="row" style="@getResult("newProjSuccess")" id="displayCreateProjSuccess">
    <h2>Project Created <br>
        Click <a href="">here</a> to begin working on it</h2>
</div>
<div class="row" style="@getResult("newProjFail")" id="displayCreateProjFail">
    <h2>Project Did Not Create <br>
        Click <a href="">here</a> to try again.
    </h2>
</div>

