@(result: String, projectName:String)(implicit request: RequestHeader)

@getResult(rowType: String) = @{
    if(rowType.equals(result)) "" else "display: none"
}

<div class="row">

</div>

<div class="row" style="@getResult("newProjSuccess")" id="displayCreateProjSuccess">
    <h2>Created Project: @projectName<br>
        Click <a href="/projectworkspace/@projectName" class="links">here</a> to begin working on it</h2>
</div>
<div class="row" style="@getResult("newProjFail")" id="displayCreateProjFail">
    <h2>Project Did Not Create <br>
        Click <a onclick="loadDoc('@routes.DashboardController.projectOptionPicker("newProject")', 'createNewProjectDiv')" class="links">here</a> to try again.
    </h2>
</div>

