@(rows: List[Array[String]])

<table class="userProjectsTable" id="userLeadProjectsTable">

    <tr class="userPojectsHeaderRow" id="userLeadTableHeaderRow">
        <th>Project Title</th>
        <th>Created Date</th>
        <th>Currently Active</th>
        <th>Go to Project Workspace</th>
    </tr>
    @for(row <- rows) {
        <tr class="userLeadTableContentRow">
            @for(cell <- row) {
                <td>@cell</td>
            }
        <td class="userProjectsTableContentRow">
            <a href="@routes.ProjectsWorkSpaceController.loadWorkspace(row(0))" class="tableicon links">
                <i class="fa fa-eye tableIcon" aria-hidden="true"
                title="Click to go to the Workspace for your project"></i>
            </a>
        </td>
        </tr>
    }

</table>