@()(implicit request: RequestHeader)

@main("Track Wild: Dashboard") {

    @loggedInNavbar("dashboard")

    <div class="container-fluid" id="userProjectsSelectors">
        <div class="row-fluid">
            <div class="col-xs-1"></div>
            <div class="col-xs-10" id="allSlidersContainer">
                <h2 id="projSlidersHeader">PROJECTS</h2>
                <div class="projectSliders" id="projleadSlider">
                    <i class="fa fa-paw" aria-hidden="true"></i>  <h3>View Projects You Lead</h3>
                </div>
                <div class="projSliderContent container-fluid " id="userLeadProjectsDiv" url='@routes.DashboardController.projectOptionPicker("userLead")'>

                </div>
                <div class="projectSliders" id="projCollabSlider">
                    <i class="fa fa-users" aria-hidden="true"></i>  <h3>View Your Collaborated Projects</h3>
                </div>
                <div class="projSliderContent container-fluid " id="userCollabProjectsDiv" url='@routes.DashboardController.projectOptionPicker("userCollab")'>

                </div>
                <div class="projectSliders" id="projCreatorSlider">
                    <i class="fa fa-plus-square-o" aria-hidden="true"></i><h3> Create a New Project</h3>
                </div>
                <div class="projSliderContent container-fluid " id="createNewProjectDiv" url='@routes.DashboardController.projectOptionPicker("newProject")'>

                </div>
            </div>
            <div class="col-xs-1"></div>
        </div>

    </div>

}
