@(message: String)(implicit req: RequestHeader)

@main("Expired Session") {

    @landingnavbar("none")

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="content">
                    <h1>SESSION HAS EXPIRED</h1>
                    <h2>@message</h2>
                    Unfortunately, your session has expired. <br>
                    If you would like to access to the site, please <u><a href="/login">login</a></u> again.
                </div>
            </div>
        </div>
    </div>
}

