@()(implicit request: RequestHeader)

@main("Track Wild") {

    @landingnavbar("home")

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="content">

                        <!-- Welcome text -->
                    <h1>Track Wild</h1>
                    <h3><p>A wildlife data aggregation and analysis</p>
                        <p>tool for a connected scientific community</p></h3>

                    <hr>

                    <button type="button" onclick="window.location.href='/login'" class="btn btn-default btn-lg" name="button">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        Log in &#124; Register
                    </button>

                    <button type="button" class="btn btn-default btn-lg" name="button">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        Take the tour
                    </button>

                </div>
            </div>
        </div>
    </div>
}