@import models.formdata.UserLoginData
@import helper.CSRF

@(loginform: Form[UserLoginData])(implicit messages: MessagesProvider, request: RequestHeader)

@main("Track Wild: Login") {

    @landingnavbar("login")
    <div class="container">
        <div class="row">
            <form method="post" class="col-md-6 col-sm-8 col-centered" id="loginform" autocomplete="on">
                @CSRF.formField
                <h1 align="center" id="loginHeader">LOGIN</h1>
                <hr id="logHR">
                <div class="form-group">
                    <label for="inputEmail">Email address</label>
                    <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Email&#64;example.com">
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password  <sub>(case-sensitive)</sub> </label>
                    <input type="password" class="form-control" id="inputPassword"
                    pattern="^[a-zA-Z0-9!#$%^&*]{6,}$" name="inputPassword" placeholder="Password">
                </div>
                <div class="checkbox">
                    <label>
                        <input name="rememberLogin" type="checkbox" checked="checked" value="true">
                        remember my login credentials
                    </label>
                </div>
                <div class="form-group">
                    <a href="#">Forgot your password?</a>
                </div>
                <button type="submit" id="loginButton" class="btn btn-default">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    Login
                </button>
            </form>
        </div>
    </div>
}