@import helper._

@(columnLabels:List[String], tableName:String)(implicit messages: MessagesProvider, request: RequestHeader)

<div class="row">
    <form method="post" class="sliderForms manualRowAddForm" action="@routes.ProjectsWorkSpaceController.manualAddNewRow(tableName)" autocomplete="off">
        @CSRF.formField
        <div class="row" class="addRowFormContainer">
        @for(label <- columnLabels) {
            @if(!label.toLowerCase.equals("uploaded_by") && !label.toLowerCase.equals("date_added")) {
                <label for="@label" class="manualRowInputLabel">@label</label>
                <input type="text" name="@label" class="manualRowInput sliderTextInputBox" required>
                <br>
            }
        }
        </div>

        <input type="hidden" name="userName" value="@request.session.get("username")">
        <input type="hidden" name="tableName" class="tableNameHiddenInput" value="@tableName">

        <div class="row">
            <button type="submit" class="btn btn-default btn-md glassyButton addRowSubmitBtn">
                <!-- make this a checkbox when possible -->
                <i class="fa fa-check-square" aria-hidden="true"></i>
            Add Row
            </button>
        </div>
    </form>
</div>

