@import helper.CSRF
@import models.formdata.NewDataTableInfo

@(tableUploadForm: Form[NewDataTableInfo], request: RequestHeader)(implicit messages: MessagesProvider)

<div class="fromLoadDoc">
    <div class="row dataImporterTitleRow">
        <h2 class="tooltitles">Data Importer Tool</h2>
        <h3 class="toolSubtitles">Upload Data to Create a New Table</h3>
    </div>
    <div class="row workrow" id="newDataUploadRow">
        @helper.form(action = controllers.routes.DataUploadController.uploadNewTable  , 'enctype -> "multipart/form-data") {
            @CSRF.formField
            <input type="file" name="fileUpload"> <br>
            @helper.inputText(tableUploadForm("tableName"), 'placeholder -> "Enter Table Name Here: Letters, Digits")
            <input type="text hidden" name="uploadingUser" value="@request.session.get("username")">
            <p>
                <input type="submit" value="Upload"> <br>
                Upload data in .csv or .xls format
            </p>
        }
    </div>
</div>