@()

<ul class="nav nav-pills nav-stacked">
    <li class="active" id="toolbarheader">Project Toolbar</li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Data Sets
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">Add Dataset to View</a></li>
            <li><a href="#">Import Data</a></li>
            <li><a href="#">Export Data</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Animals
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">Add animal(s) to View</a></li>
            <li><a href="#">Add animal profile</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Collaborators
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">View project collaborators</a></li>
            <li><a href="#">Add collaborator to project</a></li>
            <li><a href="#">Remove collaborator from project</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Notes
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">Add notes to project view</a></li>
            <li><a href="#">Add new note</a></li>
            <li><a href="#">Export notes</a></li>
        </ul>
    </li>
</ul>