@(projectTitle: String)(implicit request: RequestHeader)

@userName() = @{
    request.session.get("username").getOrElse("nhanak")
}

@main(s"Track Wild: $projectTitle") {

    @loggedInNavbar("projects")
    <h3 id="projectViewTitle">@projectTitle</h3>
    <div class="container" id="toolOptions">
        <div class="row" id="toolsrow">

        </div>
    </div>

    <div class="container-fluid" id="currentTools">
        <div class="row" id="currentToolsRow">
            <div class="col-md-2 col-sm-2 col-xs-1 currentToolsCol" id="toolBarAndNotesColumn">
                    <!-- Project Toolbar -->
                    <div id="toolbarContainer">
                @projectToolbar()
                    </div>
                    <!-- Notes viewspace -->
                <div class="sliderContainer" id="notesContainer">
                    <h2 class="sliderHeaderRow" id="notesHeader">NOTES</h2>
                    <div class="appSliders" id="workspaceNoteSlider">
                        <i class="fa fa-book sliderMainbutton" aria-hidden="true"></i>  <h3 id="noteSliderHeader">
                        View Project Notes</h3>
                    </div>
                    <div class="appSliderContent container-fluid " id="notesLoadZone" url='@routes.ProjectsWorkSpaceController.getAllNotes(projectTitle)'>

                    </div>

                </div>
            </div>
                <!--Project Data viewspace-->
            <div class="col-md-10 col-sm-10 col-xs-11 currentToolsCol" >
                <div id="projectdataColumn">
                    <h2 class="viewHeader">Project Data</h2>
                    <hr class="viewHeaderHR">
                    <div id="projectDataContent"></div>
                </div>
            </div>

        </div>

    </div>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYpu-wE1AEWVUzEUq7RXOhX_3dQUJ2RUw">
    </script>
}