@import models.adt.NoteObj

@(notesList: List[NoteObj])(implicit request: RequestHeader)


@for(noteObj <- notesList) {
    <div class="singleNoteBox">
        <div id="noteHeading">
            <h5><fixeddesc>Note:</fixeddesc>
                @noteObj.title</h5>
            <h5><fixeddesc>Written by:</fixeddesc>
                @noteObj.author</h5>
            <h5><fixeddesc>Originally Published:</fixeddesc>
                @noteObj.pubDate</h5>
        </div>
        <hr id="notebodydivider">
        <div id="noteContent">
        @noteObj.content
        </div>
    </div>
}
