@()



<ul class="nav nav-pills nav-stacked" id="projToolBar">
    <li class="active" id="toolbarheader">PROJECT TOOLBAR</li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Data Sets
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li onclick="loadDoc('@routes.ProjectsWorkSpaceController.renderDataPickerTool()', 'toolsrow')">View Your Data</li>
            <li onclick="loadDoc('@routes.ProjectsWorkSpaceController.renderDataImporterSelector()', 'toolsrow')">Import New Data</li>
            <li onclick="loadDoc('www.google.com', 'toolsrow')">Export Data</li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Animals
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>Add animal(s) to View</li>
            <li>Add animal profile</li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Collaborators
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>View project collaborators</li>
            <li>Add collaborator</li>
            <li>Remove collaborator</li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Notes
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li onclick="loadDoc('@routes.ProjectsWorkSpaceController.renderNoteAdder()', 'toolsrow')">Add new note</li>
            <li>Export notes</li>
        </ul>
    </li>
</ul>