@()



<ul class="nav nav-pills nav-stacked" id="projToolBar">
    <li class="active" id="toolbarheader">PROJECT TOOLBAR</li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Data Sets
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li onclick="loadDoc('@routes.ProjectsWorkSpaceController.renderDataViewerTool()', 'toolsrow')">View Your Data</li>
            <li onclick="loadDoc('@routes.ProjectsWorkSpaceController.renderDataImporterSelector()', 'toolsrow')">Import New Data</li>
            <li onclick="loadDoc('www.google.com', 'toolsrow')">Export Data</li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Animals
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">Add animal(s) to View</a></li>
            <li><a href="#">Add animal profile</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Collaborators
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">View project collaborators</a></li>
            <li><a href="#">Add collaborator</a></li>
            <li><a href="#">Remove collaborator</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Notes
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">Add notes to project view</a></li>
            <li><a href="#">Add new note</a></li>
            <li><a href="#">Export notes</a></li>
        </ul>
    </li>
</ul>