@(table:List[Array[String]], tableName:String)

<div class="tableBoxProjDataWS">

    <div class="tableBoxControlIcons">
        <!-- Add these if time permits -->
    </div>

    <div style="display: none;" class="googleMapsContainer">
        <div class="gmap">
        </div>
        Google Earth Stuff Goes Above Here
    </div>

    <br>
    <div class="tableProcessingToolBarContainer">
        @tableProcessingToolBar(tableName)
    </div>
    <br>
    <div class="tableRawData">
        <table class="appDataTable projDataTable" id="@tableName">
            <tr class="appTableHeaderRow projDataHeaderRow">
            @for(headerCell <- table.head) {
                <th>@headerCell</th>
            }
            </tr>
            @for(row <- table.tail) {
                <tr class="appTableContentRow projDataContentRow">
                    @for(cell <- row) {
                        <td>@cell</td>
                    }
                </tr>
            }
        </table>
    </div>

</div>