@()

<div class="container-fluid tableProcessingTools" >
    <div class="row-fluid">
        <div class="col-xs-1"></div>
        <div class="col-xs-10 sliderContainer">
            <h4 class="sliderHeaderRow" >Table Analysis Tools</h4>
            <div class="appSliders tableProcessingToolSliders">
                <i class="fa fa-plus-square-o tableProcessingIcon" aria-hidden="true"></i>  <h5 class="processingDescription">Manually Add Row</h5>
            </div>
            <div class="appSliderContent tptSliderContent container-fluid " url='#makeURLToAddRow'>
                Form to manually add a row to this table here
            </div>
            <div class="appSliders tableProcessingToolSliders" >
                <i class="fa fa-globe tableProcessingIcon" aria-hidden="true"></i>  <h5 class="processingDescription">Visualize in Google Earth</h5>
            </div>
            <div class="appSliderContent tptSliderContent container-fluid ">
                <button class="gmapInit glassyButton">View data in Google Maps</button>
            </div>
            <div class="appSliders tableProcessingToolSliders" >
                <i class="fa fa-question-circle tableProcessingIcon" aria-hidden="true"></i>  <h5 class="processingDescription">Run Query on Table</h5>
            </div>
            <div class="appSliderContent tptSliderContent container-fluid " url='#makeURLToAddRow'>
                Form to run query on table here
            </div>

        </div>
        <div class="col-xs-1"></div>
    </div>

</div>